
<footer id="sticky-footer" class="py-4 bg-dark text-white">
<div class="container text-center">
  <small>Copyright &copy; <%= link_to "Elizaveta Guletskaya", "https://vk.com/eliza_guletskaya", class: "text-white" %></small>
</div>
</footer>